In [ ]:
rows = 5
for i in range(1, rows + 1):
    print(' ' * (rows - i) + '*' * (2 * i - 1))

In [2]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    print(' ' * (rows - i) + '*' *(2 * i - 1))

    *
   ***
  *****
 *******
*********

In [9]:
n = 5
for i in range(1, n+1):
    print('' * (n -1) + '*' * (2 * i - 1))

*
***
*****
*******
*********

In [10]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
rows = 4 
for i in range(1 , rows+1):
    print('*' * i )

*
**
***
****

In [46]:
count = 0
for i in range(1 ,6):
    print(' ' * (6 - i ) + (i * (2 * i - 1)))
    count += 1

TypeError: can only concatenate str (not "int") to str

In [14]:

for i in range(1, 6):
    for j in range(1, 6 - i):
        print(" ", end="")
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 :
            print("*", end="")
        else:
            print(" ", end="")
    print()

for i in range(5, 0 , -1):
    for j in range(1, 6 - i):
        print(" ", end="")
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1 :
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *

In [19]:
rows = 5
for i in range(rows, 0,-1):
    print('*' * i)

*****
****
***
**
*

In [37]:
rows = 7
for i in range(1, rows + 1):
    print(" " * (rows - i) + ('*') * (2 * i - 1))

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [58]:
rows = 5
for i in range(rows):
    for j in range(rows - i + 1):
        print(" ", end="")
    val = 1
    for j in range(i + 1):
        print(f"{val} ", end="")
        val = val * (i - j) // (j + 1)
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [35]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows-i) + "*" * (2 * i-1) )

    *
   ***
  *****
 *******
*********

In [1]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
for i in range(rows-1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [34]:
rows = 5
for i in range(rows):
    for j in range(rows):
        if (i + j) % 2 == 0:
            print("X", end=" ")
        else:
            print("O", end=" ")
    print()

X O X O X
O X O X O
X O X O X
O X O X O
X O X O X

In [8]:
rows = 5
for i in range(rows):
    val=0
    for j in range(rows - i + 1):
        print(" ", end="")
    for j in range(i + 2):
        print(f"{val} ", end="")
        val += 1
    print()

      0 1
     0 1 2
    0 1 2 3
   0 1 2 3 4
  0 1 2 3 4 5

In [4]:
try:
    list = [1,2,58]
    del list
    list.clear()
    
except TypeError:
    print("TypeError")

TypeError

In [54]:
try:
    a = int(input("Please Enter Number : "))
    b = int(input("Please Enter Number : "))
    sum = a + b
    print(sum)
    
    
except TypeError:
    print("TypeError")

except IndexError:
    print("IndexError")
    
except NameError:
    print("Name Error.")
    
except ValueError:
    print("Value Error")

# else:
#     sum = a + b 
#     print(sum)

Value Error

In [ ]:
def addNumbers(num1, num2):
    try:
        if (isinstance(num1, (int, float)) and isinstance(num2, (int, float))):
            return num1 + num2
        else:
            raise Exception('Only int and float values are allowed')
    except Exception as e:
        return str(e)  # Convert exception to string for consistent output

print(addNumbers(1, 2))
print(addNumbers(5, 10))
print(addNumbers('a', 'b'))
print(addNumbers(99, 1))
print('Execution completed!')

Invalid Number
THE END...

In [ ]:
def addNumbers(num1, num2):
    try:
        print(num1 + num2)
    except TypeError:
        print("Invalid Number")
    except Exception as e:
        print(e)
    else:
        print("Successful...")
    print("THE END...")

addNumbers(5,'a')

Invalid Number
hii